@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
}

a {
    font-weight: 500;
    text-decoration: none;
}

body {
    margin: 0;
}

.font-offside {
    font-family: "Offside", sans-serif;
}

.main-height {
    min-height: 8svh;
}
